<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title"> Tendencia en red social FACEBOOK</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    Id
                  </th>
                  <th>
                    Likes
                  </th>
                  <th>
                    Comentarios
                  </th>
                  <th class="text-center">
                    Tema Clave
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    10166686143170012
                  </td>
                  <td>
                    40
                  </td>
                  <td>
                    17
                  </td>
                  <td class="text-center">
                    Galo
                  </td>
                </tr>
                <tr>
                  <td>
                    10166698267415012
                  </td>
                  <td>
                    222
                  </td>
                  <td>
                    131
                  </td>
                  <td class="text-center">
                    Haití
                  </td>
                </tr>
                <tr>
                  <td>
                    10166686143170000
                  </td>
                  <td>
                    409
                  </td>
                  <td>
                    205
                  </td>
                  <td class="text-center">
                    Galo
                  </td>
                </tr>
                <tr>
                  <td>
                    10166674458715012
                  </td>
                  <td>
                    178
                  </td>
                  <td>
                    165
                  </td>
                  <td class="text-center">
                    cumple
                  </td>
                </tr>
                <tr>
                  <td>
                    10166642719370012
                  </td>
                  <td>
                    136
                  </td>
                  <td>
                    243
                  </td>
                  <td class="text-center">
                    pymes
                  </td>
                </tr>
                <tr>
                  <td>
                    10166625625985012 
                  </td>
                  <td>
                    143
                  </td>
                  <td>
                    136
                  </td>
                  <td class="text-center">
                    ObiWanKenobi
                  </td>
                </tr>
                <tr>
                  <td>
                    10166610306435012
                  </td>
                  <td>
                    60
                  </td>
                  <td>
                    109
                  </td>
                  <td class="text-center">
                    emociones
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <!-- 
    <div class="col-md-12">
      <div class="card  card-plain">
        <div class="card-header">
          <h4 class="card-title"> Table on Plain Background</h4>
          <p class="category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Country
                  </th>
                  <th>
                    City
                  </th>
                  <th class="text-center">
                    Salary
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-center">
                    $36,738
                  </td>
                </tr>
                <tr>
                  <td>
                    Minerva Hooper
                  </td>
                  <td>
                    Curaçao
                  </td>
                  <td>
                    Sinaai-Waas
                  </td>
                  <td class="text-center">
                    $23,789
                  </td>
                </tr>
                <tr>
                  <td>
                    Sage Rodriguez
                  </td>
                  <td>
                    Netherlands
                  </td>
                  <td>
                    Baileux
                  </td>
                  <td class="text-center">
                    $56,142
                  </td>
                </tr>
                <tr>
                  <td>
                    Philip Chaney
                  </td>
                  <td>
                    Korea, South
                  </td>
                  <td>
                    Overland Park
                  </td>
                  <td class="text-center">
                    $38,735
                  </td>
                </tr>
                <tr>
                  <td>
                    Doris Greene
                  </td>
                  <td>
                    Malawi
                  </td>
                  <td>
                    Feldkirchen in Kärnten
                  </td>
                  <td class="text-center">
                    $63,542
                  </td>
                </tr>
                <tr>
                  <td>
                    Mason Porter
                  </td>
                  <td>
                    Chile
                  </td>
                  <td>
                    Gloucester
                  </td>
                  <td class="text-center">
                    $78,615
                  </td>
                </tr>
                <tr>
                  <td>
                    Jon Porter
                  </td>
                  <td>
                    Portugal
                  </td>
                  <td>
                    Gloucester
                  </td>
                  <td class="text-center">
                    $98,615
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  -->
  </div>
</div>